html,body{
 height: 100%;
 width: 100%;
}
.left img{
    padding-top: 5px;
    width: 45px;
    height: 38px;
}
header{
    position: sticky;
     top: 0px ;
     background-color: white;
}
.container{
    padding: 0 10vw;
    margin: auto;
}
.section1{
    background-color: rgb(236, 226, 226);
    height: 122vh;
}

nav ul li{
    list-style: none;
    margin: 2px 4px;
        
}