.flex{
    display: flex;
  
}

.uppercase{
    text-transform: uppercase;
}
.bold{
    font-weight: bolder;
    font-size: small;
}
.space-between{
    justify-content: space-between;    
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.my-2{
    margin-top: 5%;
}
.flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}